<body>
    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" class="img-fluid" style="height: 400px;">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <!-- <p>Welcome to WeatherWeb</p> -->
                        <h1> This is my <span class="txt_clr">first project ever</span>! Hope you like it! :)</h1>
                        <a href="https://www.linkedin.com/in/tanisha-chandra/"><button>Know more about me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>